header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.header__icons{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    right: 10%;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem dashed;
    border-color: #e7ebef90;
}

.icon__1{
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0.7rem 0.8rem;

}

.icon__2{
    display: none;
}

.header__profile-img{
    border-radius: 50%;
}

.user__name{
    text-align: center;
    margin-bottom: 3rem;
}

.slack{
display: none;
}

@media screen and (max-width: 600px){
    .icon__2{
        display: flex;
        font-size: 1rem;
        border-radius: 50%;
        padding: 0.7rem 0.8rem;
    }

    .icon__1{
        display: none;
    }
}